
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <div class="topnav">
    <a class="active" routerLink=""><i class="fa fa-fw fa-home"></i> Home</a>
    <a  routerLink="formation"><i class="fa fa-fw fa-search"></i> Formations</a>
    <a  routerLink="profil"><i class="fa fa-fw fa-envelope"></i> Profil</a>
   <a routerLink="New"><i class="fa fa-fw fa-plus"></i> Nouvel Formation </a>
    <a >   <app-auth></app-auth>  </a>
 </div>
<marquee > Nos formations
  100% en ligne et à votre rythme. -- <strong> Découvrez nos parcours diplômants</strong>
  Apprenez un métier d’avenir, grâce à OpenClassrooms, l’école nouvelle génération 100% en ligne.</marquee>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#00c0ac" fill-opacity="0.8" d="M0,96L80,96C160,96,320,96,480,112C640,128,800,160,960,181.3C1120,203,1280,213,1360,218.7L1440,224L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg>
