<section>
<div id="service">
  <div>
    <section>
      <div class="bolck-image">
      </div>
      <article>
        <p class="PRÉSENTATION0"><strong>Presentation</strong></p>
        <p class="PRÉSENTATION">
          <span class="logo" style="font-size: 38px;">Lavande</span> is an <span class="strong"> engineering</span> and <span class="strong">R&D</span> services ESN.
          It offers its clients a unique value proposition to meet their transformation and innovation challenges.<span class="strong"> EITA Consulting</span> supports its clients,
          from concept to industrialization, to develop the products and services of tomorrow.<br>
        </p>
        <p class="PRÉSENTATION">

          <span class="logo" style="font-size: 38px;"> T</span>he ambition of<span class="strong"> EITA Consulting</span> is to enable our employees, through our training, talent development and R&D policy, to express their full value in this new digital era.
          Knowledge sharing, innovation, enthusiasm define our community!<br>
        </p>
        <p class="PRÉSENTATION">
          <span class="logo" style="font-size: 38px;">F</span>or us, success is only conceivable over time. We provide consulting and implementation services around present and future technologies,
          in an approach that respects our customers and employees, as well as the environment.
        </p>
      </article>
    </section>
    <br><br><br><br>
    <h3 class="bb">Our services</h3><hr>
    <h6 class="title">What do we offer?</h6>
    <div class="container">
      <div class="card">
        <div>
          <h4>JAVA</h4>
          <p>J2EE, SWING, GWT, STRUTS, SPRING, HIBERNATE</p>
        </div>
      </div>
      <div class="card">
        <div>
          <h4>.NET</h4>
          <p> C#, WPF, ASP.NET, 4.0/4.5,<br> WCF</p>
        </div>
      </div>
      <div class="card">
        <div>
          <h4>CONSULTING</h4>
          <p> COACHING, AGILE,<br> DEVOPS</p>
        </div>
      </div>
      <div class="card">
        <div>
          <h4>BI</h4>
          <p>SUITE MICROSOFT, BO, DATASTAGE, INFORMATICA</p>
        </div>
      </div>
      <div class="card">
        <div>
          <h4>MOBILE</h4>
          <p>WINDOWS PHONE, ANDROID,<br> iOS</p>
        </div>
      </div>
      <div class="card">
        <div>
          <h4>OPEN SOURCE</h4>
          <p>LINUX, APACHE TOMCAT,<br> REDHAT </p>
        </div>
      </div>
      <div class="card">
        <div>
          <h4>TEST RECETTE</h4>
          <p>DC, ISTQB,<br> QTP</p>
        </div>
      </div>
      <div class="card">
        <div>
          <h4>MOA</h4>
          <p>FINANCE DE MARCHE, ASSURANCE, FIXED INCOME</p>
        </div>
      </div>
    </div>
  </div>
</div>
</section><br><br><br>
<!--FOOTER-->
<footer>
  <div class="copyright">Copyright © Tous droits réservés.</div>
</footer>
